In [2]:
import pandas as pd

In [146]:
mm = pd.read_csv('/Users/macbookretina/Desktop/submission.csv')
mm

        queryid  documentid  predict_label
0           162      160984              0
1           385      617388              0
2           613        4205              0
3           836      189903              3
4          1058      424127              3
...         ...         ...            ...
849072    25559      236693              0
849073    25784      754969              0
849074    26001      482248              3
849075    26220      469879              0
849076    26444      734090              3

[849077 rows x 3 columns]

In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy
from sklearn import preprocessing 
from tensorflow import metrics

In [134]:
model = Sequential([
        Dense(units=8,input_shape=(46,), activation='relu'),
        Dense(units=16,activation='relu'),
        Dense(units=32,activation='relu'),
        Dense(units=16,activation='relu'),
        Dense(units=5,activation='softmax')
    ]
    )

model.summary()

Model: "sequential_12"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_60 (Dense)             (None, 8)                 376
_________________________________________________________________
dense_61 (Dense)             (None, 16)                144
_________________________________________________________________
dense_62 (Dense)             (None, 32)                544
_________________________________________________________________
dense_63 (Dense)             (None, 16)                528
_________________________________________________________________
dense_64 (Dense)             (None, 5)                 85
=================================================================
Total params: 1,677
Trainable params: 1,677
Non-trainable params: 0
_________________________________________________________________

In [135]:
#'categorical_crossentropy'
model.compile(loss='categorical_hinge', optimizer= 'Adam',metrics=['categorical_accuracy'])

In [128]:
#,6,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,58,60,61,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200
#200,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363]
df = pd.read_csv(
            '/Users/macbookretina/Desktop/train_dataset.csv',header=None,sep='\t',
            usecols=[0,8,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,38,47,62,63,64,65,66,67,69,70,71,72,73,74,75,76,77,201,202])

In [131]:
labels = df.iloc[:,[0]]
labels = np.array(labels) 
    
        
features = df.iloc[:, 1:]
features = np.array(features)

In [132]:
scalar = preprocessing.MinMaxScaler()
scaled_feats = scalar.fit_transform(features)
    
features = None

In [147]:
model.fit(scaled_feats,labels,shuffle=True,validation_split=0.15,batch_size=32,epochs=10,verbose=2)

Epoch 1/10
168815/168815 - 296s - loss: 0.3147 - categorical_accuracy: 0.2001 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00
Epoch 2/10
168815/168815 - 221s - loss: 0.3147 - categorical_accuracy: 0.2001 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00
Epoch 3/10
168815/168815 - 196s - loss: 0.3147 - categorical_accuracy: 0.2002 - val_loss: 0.3139 - val_categorical_accuracy: 1.0000
Epoch 4/10
168815/168815 - 197s - loss: 0.3147 - categorical_accuracy: 0.1995 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00
Epoch 5/10
168815/168815 - 200s - loss: 0.3147 - categorical_accuracy: 0.2001 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00
Epoch 6/10
168815/168815 - 324s - loss: 0.3147 - categorical_accuracy: 0.1999 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00
Epoch 7/10
168815/168815 - 281s - loss: 0.3147 - categorical_accuracy: 0.1996 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00
Epoch 8/10
168815/168815 - 271s - loss: 0.3147 - categorical_accuracy: 0.1998 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00
Epoch 9/10
168815/168815 - 255s - loss: 0.3147 - categorical_accuracy: 0.2000 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00
Epoch 10/10
168815/168815 - 253s - loss: 0.3147 - categorical_accuracy: 0.2002 - val_loss: 0.3139 - val_categorical_accuracy: 0.0000e+00

In [148]:
test_df = pd.read_csv(
            '/Users/macbookretina/Desktop/test_dataset_B.csv',header=None,sep='\t',
            usecols=[7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,37,46,61,62,63,64,65,66,67,69,70,71,72,73,74,75,76,200,201]
)

In [149]:
test_df = np.array(test_df)

In [150]:
#scalar = preprocessing.MinMaxScaler()
#scaled_test_df = scalar.fit_transform(test_df)

In [151]:
predicted = model.predict(test_df)

In [152]:
rounded_predictions = np.argmax(predicted,axis=-1)

In [153]:
mm['predict_label']=rounded_predictions

In [159]:
mm

        queryid  documentid  predict_label
0           162      160984              1
1           385      617388              1
2           613        4205              1
3           836      189903              1
4          1058      424127              1
...         ...         ...            ...
849072    25559      236693              1
849073    25784      754969              1
849074    26001      482248              1
849075    26220      469879              1
849076    26444      734090              2

[849077 rows x 3 columns]

In [160]:
path ="/Users/macbookretina/Desktop/submission.csv"
mm.to_csv(path,index = False)